html,
body {
  height: 100%;
}
body {
  display: grid;
  place-content: center;
}

@keyframes waving-hand {
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  font-size: 13rem;
  transform-origin: bottom right;
  animation: waving-hand 1500ms ease-in-out alternate;
  animation-iteration-count: infinite;
}
